.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  margin: 10px 20px;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.user-details {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

.margin-0 {
  margin: 0;
}

.description {
  padding: 5px 10px;
}

.image-frame {
  border: 1px solid black;
}

.shadow {
  width: 100px;
  height: 100px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.red {
  background-color: red;
}

.status-hr {
  background-color:#FFCE33;
  padding: 2px 5px;
  border-radius: 5px;
}

.status-sc {
  background-color:#05AC9D;
  padding: 2px 5px;
  border-radius: 5px;
}

.status-va {
  background-color:#4898cb;
  padding: 2px 5px;
  border-radius: 5px;
}

.status-de {
  background-color:#e5b5ac;
  padding: 2px 5px;
  border-radius: 5px;
}